
/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/

.title{
    font-size: 20px;
    font-family: 'Special Elite', cursive;
}

.about{
  margin-top: -15%;  
    
}