<!--
/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/

-->

<div flexLayout class="about" >

<div flexLayout fxLayoutAlign="center center">


<mat-card fxFlex="60%">
    <mat-card-content fxFlex>
        <mat-title class="title">About Us</mat-title>
        <br>
        <p>
            What is task management? We could give you a nice from-the-textbook answer to that question, 
            but we find that task management means different things to different people (and also, it can be a tad bit boring). 
            For some, task management means coordinating with coworkers on a big project, dividing it up into smaller 
            tasks to make the workflow easier. For others, it means making sure you picked up bread from the store on 
            the way home. And still for others, it can be either of those things, or anything in between. 
            <br>
            Whatever task management means to you, NodeBucket is a simple, easy to use app that will help you
            get things done. With secure log in and database access, you can count on your information being secure
            and reliably available when you need it. And with features like drag and drop to easily move your tasks 
            from to-do to done (or vice versa! Because you know-life!), to easy new task creation and deletion, you'll 
            find that NodeBucket is built for folks just like you, because the folks on the NodeBucket team are just like you. 
            And we know that when you get the necessary chores of work and life done more efficiently, you have more 
            time to do what you really want to do. And at NodeBucket, that's what we're all about-helping you get things 
            done so you can concentrate on living your best life. 
            <br>
            Speaking of living your best life, here are some of our NodeBucket team members living their best life! 
        </p>
    </mat-card-content>
</mat-card>
</div>
</div>