<!--
  /*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: September 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/
-->




<div fxLayout="row" class="main-welcome" fxLayoutGap="20px">

 

  <div fxLayout="row" fxLayoutGap="20px">
    
    <h1 class="title" >
      Welcome to NodeBucket Task Management!
    </h1>
    
    <mat-card fxFlex="50%">
      <mat-card-content>
        <h3>To Do</h3>
      </mat-card-content>
    </mat-card>

  <mat-card fxFlex="50%">
      <mat-card-content>
        <h3>Done</h3>
      </mat-card-content>
    </mat-card>

  </div>

</div>
  