/*
Title: NodeBucket
Author: Professor Krasso
Date: September 2020
Modified By: Kimberly Pierce
Description: WEB 450 NodeBucket
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
