/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/


.main-welcome {
    
  }
  
  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  
  .cdk-drag-preview{
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0,0, 0.2);
  }