<!--
/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/

-->



<div fxLayout="column" class="main-welcome" fxLayoutGap="20px" >

  <h1 class="title" >
    Welcome to NodeBucket Task Management!
  </h1>
  

  <div fxLayout="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
    
    
    
    <mat-card fxFlex class="tasks">
      <mat-card-content>
        <h3>To Do</h3>
      </mat-card-content>
    </mat-card>

  <mat-card fxFlex class="tasks">
      <mat-card-content>
        <h3>Done</h3>
      </mat-card-content>
    </mat-card>

  </div>

</div>
  