<!--
/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/

-->




<div  layout="column" class="sign-in">

<div *ngIf="error">{{ error }}</div>

<mat-card fxFlex>

    <mat-card-title>Employee Sign In Page</mat-card-title>
    <mat-card-subtitle>You must enter a valid employee Id to proceed</mat-card-subtitle>
    
    <form [formGroup]="form" (ngSubmit)="login(); form.reset();">
    
        <mat-card-content>
            <mat-form-field>
                <input matInput [formControl]= 'form.controls["empId"]' placeholder="Employee Id">
                <mat-error *ngIf="form.controls['empId'].hasError('required')">Employee Id is required</mat-error>
                
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
            <button type="submit" fxFlex mat-raised-button color="primary" [disabled]="!form.valid">Sign-In</button>
        </mat-card-actions>

    </form> 

</mat-card>

</div>

