/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/


.logo{
    width: 200px;
    height: 150px;
}

.sign-in{
    width: 50%;
    margin: auto;
    margin-top: 5%;
}