/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: September 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/


main mat-card{
  
}

  mat-toolbar{
    background-color: transparent;
  }
 
  nav{
    margin-left: 3%;

  }

  .navbar-link {
    font-size: 25px;
    font-family: 'Fira Sans Extra Condensed';

  }


  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .footer-content {
    
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
  }
  
  .bu-link {
    text-decoration: none;
    color: #00AAB6;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
  