<!--
/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/

-->



<div fxLayout='column'>


    <!-- navigation -->
   
    <div fxLayout="row" gdAlignRows="start">
      <img fxFlex="nogrow" src="../assets/nodebucketlogo3.png" routerLink="/" width="220px" height="180px" id="logo">
    </div>

    <nav fxLayout="column" gdAlignColumns="start">
          <div><button  class="navbar-link" routerLink="/" mat-button>Home</button></div>
          <div><button  class="navbar-link" routerLink="about" mat-button>About</button></div>
    </nav>
  

    <!-- main content -->
   
      <main fxLayout="row" gdAlignRows="center">

        
            <router-outlet></router-outlet>
          
       
      </main>
    
  
    <!-- footer -->
    
      <footer fxLayout="row" gdAlignRows="center">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - NodeBucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    
  
  </div>
  