/*
Title: WEB450 NodeBucket
Author: Professor Krasso
Date: October 2020
Modified By: Kimberly Pierce
Description: NodeBucket
*/



main{
  margin-bottom: 5%;
  
}

  mat-toolbar{
    background-color: transparent;
    
  }
 
  nav{
    margin-left: 3%;
    
  }

  .navbar-link {
    font-size: 19px;
    font-family: 'Special Elite', cursive;
  }


  footer {
    
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
    text-align: center;
  }
  
  .footer-content {
    
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
  }
  
  .bu-link {
    text-decoration: none;
    color: #00AAB6;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
  