/*
Title: NodeBucket
Author: Professor Krasso
Date: September 2020
Modified By: Kimberly Pierce
Description: WEB 450 NodeBucket
*/

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  min-height: 100vh; }
